.simple-reddit-api {
    display: flex;
    background-color: #d3d3d3;
}

.half-view {
	flex-direction: column;
	padding-top: 30px;
	align-items: center;
	padding: 2%;
}

#quicksand {
	font-family: 'Quicksand', sans-serif; 
}
